

.onion{
width: 400px;;
}

.button1{
background-image:url("img/arrow.png");
}

img{
width: 500px;;
}

.backround{
    background-image: url("img/crysis.jpg");  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cim{
font-size: 100px;
text-align: center;
text-shadow:3px 3px 0px rgb(110, 0, 140);
}

.hhaa{
height:20%;

}

.background1{
    background-image: url("img/warface.jpg");  
    background-repeat: no-repeat;
    background-position: center;
}
